.table{
  width: 90%;
  margin: 2rem;
  margin-left: auto;
  margin-right: auto;
}

.mat-mdc-table .mat-mdc-header-cell {
  background-color: lightseagreen;
  color: white;
  border-right: 1px solid white;
}

.mat-mdc-row .mat-mdc-cell {
  border-bottom: 0.2px solid lightseagreen;
}

mat-sort{
  background-color: white;
}
