h1{
  margin-left: 2rem;
  margin-top: 1rem;
}

.form{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-start;
  margin: 2rem;
}

.type-appointment{
  min-width: 300px;
}

mat-form-field{
  min-width: 300px;
}
