mat-grid-tile {
  background: lightblue;
}

.create-schedule{
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  background-color: rgb(59, 148, 189);
}

.main{
  margin-top: 1.5rem;
  display: flex;
}

.calendar{
  width: 20%;
  height: 20%;
}

.schedules{
  margin: 2rem;
  display: grid;
  width: 80%;
  grid-template-columns: repeat(8, 1fr);
}

p{
  margin: 0;
}

.header{
  grid-column: 1 / 9;
  grid-row: 1 / 2;
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  height: 3rem;
  justify-items: center;
}

.hour{
  grid-row: 2 / 3;
  grid-column: 1 / 2;
  display: grid;
}

.hour > *{
  height: 3rem;
  margin: 0 1rem;
  justify-self: end;
}

.content{
  grid-column: 2 / 9;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
}

.content > *{
  border: thin solid green;
  height: 3rem;
}

::ng-deep .mat-calendar-body-cell-content.mat-calendar-body-selected {
  background-color: orange;
  color: black;
}
